
h1 {
    color: #e7e058;
    font-size: 90px;
    text-shadow: 3px 3px #806d27;
    text-align: right;
    padding-bottom: inherit;
}
h4 {
    color: #e7e058;
    font-size: 45px;
    text-shadow: 3px 3px #806d27;
    text-align: center;
    margin-top: 0px;
}

h2 {
    color: #dec83b;
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
}

h7{
    color: #dec83b;
    font-size: 30px;
    text-align: right;
    margin-top: 0px;
}
h6 {
    color: #e23c55;
    font-size: 20px;
    text-shadow: 1px 1px #e2933c;

}

h3 {
    color: #ea5e1d;
    font-size: 30px;
    text-align: right;
    margin-right: 220px;
    margin-top: 145px;
}
h5{
    color: #f2f3f5;
    font-size: 30px;
    text-align: left;
    margin-left: 400px;

}
h8{
    color: #f2f3f5;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}
.terce {
    color: #e23c55;
    font-size: 20px;
    text-shadow: 1px 1px #e2933c;
    border: medium solid #ea1156;

}

.segundo {
    color: #e2933c;
    font-size: 20px;
    text-shadow: 2px 2px #e2933c;
    border: medium solid #e2933c;
}

.prim {
    color: rgba(60, 88, 226, 0.77);
    font-size: 30px;
    text-shadow: 2px 2px #ffffff;

}

body {
    background-color: #7f68db;
    text-align: center;
    font-family: Trebuchet MS, verdana, arial, sans-serif;
    background-image: url("imagenes/colores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;


}

.body3 {
    background-color: #7f68db;
    text-align: center;
    font-family: Trebuchet MS, verdana, arial, sans-serif;
    background-image: url("imagenes/lineas4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


div.categorias {
    font-size: 70px;
    color: #143ee7;

}

#logo {
    float: left;
    margin-right: 50px;
    padding-top: 10px;
}
#logo2 {
    float: right;
    margin-right: 50px;
    padding-top: 10px;
}

div.boton1 {
    padding-top: 100px;
}

#instr {
    color: #7a2bd9;
    margin-top: 150px;
    text-align: justify-all;
}

#modos {
    color: #7a2bd9;
    text-align: justify-all;
    margin-top: 100px;
}

#titulo{
    color: #e7e058;
    font-size: 40px;
    text-shadow: 3px 3px #806d27;

}
#ahorca{
    float: left;
    width: 30px;
    height: 30px;
}

.can{
    border:1px solid rgba(220, 205, 97, 0);
    background: rgba(240, 255, 105, 0);
    padding-left: 30px;
    bottom: 10px;
    margin-right: 0px;
}

.botonletra{
    font-size: 0.9em;
    margin: 2px;
    width: 30px;
    text-align: center;
}
.dialogletra{
    font-size: 3em;
    text-align: center;
    padding-top: 15px;
}
#botonesletras{
    width: 330px;
    clear: both;
}
#dibujoahorcado{
    margin-bottom: 20px;
}
#letras{
    font-size: 3em;
    text-align:center;
    width: 320px;
    clear: both;
    margin-bottom: 10px;
}
#letras span{
    width: 30px;
    text-align:center;
    padding-left: 5px;
}

#contenedor {
    display: flex;
    justify-content: center;
    width: 95%;
}